* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 82px;
  padding-left: 24px;
  padding-right: 24px;
}

.title {
  align-items: center;
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  line-height: 32px;
  text-align: center;
  color: #512051;
  width: 327px;
  height: 102px;
}

.introduction {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 19px;
  line-height: 25px;
  width: 327px;
  height: 100px;
  text-align: center;
  letter-spacing: -0.63px;
  color: #927B91;
}

.card-little {
  width: 327px;
  height: 78px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 16px;
  flex-wrap: wrap;
  background-color: #F9E8F8;
  border-radius: 8px;
  margin-bottom: 16px;
}

.stars {
  width: 116.55px;
  height: 15.77px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rated {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #512051;
  font-size: 17px;
}

.card-big {
  width: 327px;
  height: 248px;
  border-radius: 8px;
  background-color: #512051;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 40px;
  padding-bottom: 35px;
  margin-bottom: 16px;
}

.avatar-container {
  width: 162px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center ;
  margin-bottom: 23px;
}

.title-card{
  color: #fff;
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
}

.buyer {
  color: #EE69A4;
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.text {
  color: #fff;
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  line-height: 22px;
  font-size: 17px;
  width: 263px;
  height: 110px;
}

