* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  margin: 0;
  font-family: sans-serif;
}

@media screen and (min-width: 768px) {
  .first {
    width: 1110px;
    height: 245px;
    display: flex;
    justify-content: space-around;
  }

  .texts {
    width: 445px;
    height: 245px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

.title {
  align-items: center;
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  line-height: 32px;
  text-align: center;
  color: #512051;
  width: 327px;
  margin-left: 15px;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 56px;
    width: 445px;
    line-height: 48px;
    letter-spacing: -2px;
    text-align: start;
    margin: 0;
  }
}

.introduction {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 19px;
  line-height: 25px;
  width: 327px;
  height: 100px;
  text-align: center;
  letter-spacing: -0.63px;
  color: #927b91;
  margin-left: 15px;
}

@media screen and (min-width: 768px) {
  .introduction {
    text-align: start;
    width: 445px;
    text-align: start;
    line-height: 25px;
    letter-spacing: -0.63px;
    margin: 0;
  }
}

@media screen and(min-width:768px) {
  .cards {
    width: 540px;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
  }
}

.card-little {
  width: 327px;
  height: 78px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  margin: 16px;
  background-color: #f9e8f8;
  border-radius: 8px;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .card-little {
    width: 445px;
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
  }
}

.stars {
  width: 116.55px;
  height: 15.77px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rated {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #512051;
  font-size: 17px;
}

@media screen and (min-width: 768px) {
  .second {
    width: 1110px;
    height: 266px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-around;
  }
}

.card-big {
  width: 327px;
  height: 248px;
  border-radius: 8px;
  background-color: #512051;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 40px;
  padding-bottom: 35px;
  margin-bottom: 16px;
  margin-left: 17px;
}

@media screen and (min-width: 768px) {
  .card-big {
    width: 350px;
    height: 234px;
    margin-left: 31px;
  }
}

.avatar-container {
  width: 164px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 23px;
  gap: 23px;
}

.title-card {
  color: #fff;
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
}

.buyer {
  color: #ee69a4;
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.text {
  color: #fff;
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  line-height: 22px;
  font-size: 17px;
  width: 263px;
  height: 110px;
}
